<div class="site-section bg-dark">
    <div class="container">
        <div class="row" style="margin-top: -4%;">
            <div class="col-lg-8 text-center" style="margin-left: 15%;"> 
                <form action="#" #searchForm="ngForm" (ngSubmit)="search()">
                <div class="form-group">
                    <input type="text" class="form-control" name ="input" [(ngModel)]="team.Stadium" placeholder="Stadium">
                </div>
                <div class="form-group col-lg-12">
                    <input type="submit" class="btn btn-primary" value="Search">
                </div>
                </form> 
            </div> 
        </div>
    </div>
</div>
<div class="site-section bg-dark" *ngIf="!isFound" >
    team Not Found
</div>
<div class="site-section bg-dark">
    <div class="container">
        <div class="row" style="margin-top: -10%;">
            <div class="col-lg-12 text-center">      
                <div class="widget-next-match">
                <table class="table custom-table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Foundation</th>
                        <th>Stadium</th>
                        <th>Owner</th>
                        <th *ngIf="isDisplayed">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let team of teams">
                        <td>{{team._id}}</td>
                        <td>{{team.name}}</td>
                        <td>{{team.foundation}}</td>
                        <td>{{team.stadium}}</td>
                        <td>{{team.owner | criptage}}</td>
                        <td *ngIf="isDisplayed">
                        <button class="btn btn-success mr-3" (click)="goToDisplayTeam(team._id)">Display</button>
                        <button class="btn btn-dark mr-3" (click)="goToEditTeam(team._id)">Update</button>
                        <button class="btn btn-danger" (click)="deleteTeam(team._id)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
